.hero-list {
  margin-top: 2rem;
  position: relative;
  height: 700px;
  width: 100%;
  top: -1%;
  img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }
}

.hero-list-container {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  max-width: 810px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  span {
    color: #e2dace90;
  }
  p {
    max-width: 1000px;
    color: #e2dace;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2rem auto;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    width: fit-content;
    border: 3px solid #ffffff50;
    border-radius: 5px;
    transition: 0.2s;
    letter-spacing: 2px;
  }
  .btn:hover {
    border: 3px solid #ff6046;
    transform: translateY(-20px);
  }
}

.hero-list-container {
  .red-line {
    margin: auto;
    margin-bottom: 2rem;
  }
}

//-------------- HERO LIST SECTION RESPONSIVE --------------//
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hero-list-container {
    font-size: 3rem;
    p {
      font-size: 0.7rem;
    }
    .btn {
      font-size: 0.7rem;
      padding: 0.7rem 1rem;
    }
  }
}

@media screen and (min-width: 567px) and (max-width: 766px) {
  .hero-list-container {
    font-size: 2rem;
    p {
      font-size: 0.5rem;
    }
    .btn {
      font-size: 0.5rem;
      padding: 0.5rem 0.7rem;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 566px) {
  .hero-list-container {
    width: 100%;
    font-size: 1.5rem;
    p {
      font-size: 0.7rem;
      letter-spacing: 1px;
      width: 70%;
      margin: auto;
      margin-bottom: 1rem;
    }
    .btn {
      font-size: 0.4rem;
      padding: 0.4rem 0.6rem;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 379px) {
  .hero-list-container {
    font-size: 1.5rem;
    width: 90%;
    p {
      font-size: 0.5rem;
      letter-spacing: 1px;
      width: 100%;
    }
    .btn {
      font-size: 0.5rem;
      padding: 0.5rem 0.7rem;
    }
  }
}
//------------ HERO LIST SECTION RESPONSIVE END ------------//
